@model PollHub.ViewModels.BallotViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Current Polls</h1>
<ul>
    @foreach (var ballot in Model.Ballots)
    {
        <li>
            <div class="title">@ballot.Title</div>
            <button class="btn btn-link btn-sm js-action-ballot" data-ballot-id="@ballot.BallotId">Cast Your Vote</button>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $(".js-action-ballot")
                    .click(function() {
                        $.post("/api/ballot", { ballotId: button.attr("data-gig-id") })
                            .success(function() {
                                
                            })
                            .fail(function() {
                                alert("Something failed!");
                            });
                    });
            });
    </script>
}